.container1{
    display: grid;
    background-color: #FFF7F0;
    // gap: 10px;
    // height: 1000px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 780px;
    grid-template-areas: "left right";
     

    .left{
        grid-area: left;
        // background-color: rgb(235, 172, 135);
        padding: 60px 0 0 120px;

        .find{
            font-weight: bold;
            font-size: 46px;
            
            line-height: 1.5;
        }

        .wehelp{
            padding: 20px 0 20px 0;
            font-size: 20px;
            line-height: 1.5;
            color: rgb(98, 98, 98);
        }

        .orderbox{
            padding: 5px 0 0 0;
            width: 100%;
            height: 430px;
            border-radius: 15px;
            background-color: white;
            font-size: 18px;

            .top{
                // background-color: red;
                font-size: 18px;
                margin: 25px;
                text-align: center;
                line-height: 50px;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: 50px;
                gap: 15px;
                grid-template-areas: "buy sell rent";

                .buy{
                    color: white;
                    background-color: black;
                    border-radius: 10px;
                }
                .sell{
                    color: black;
                    background-color:#DBDBDB;
                    border-radius: 10px;
                }
                .rent{
                    color: black;
                    background-color:#DBDBDB;
                    border-radius: 10px;
                }

            }
            .middle{
                // background-color: red;
                margin: 25px;
                color: #7B7B7B;
                .location{
                    
                    width: 100%;
                    height: 60px;
                    border: 1px solid #DBDBDB;
                    border-radius: 15px;
                    line-height: 60px;
                    display: flex;
                    justify-content: space-around;
                    gap: 400px;
                    
                    // justify-content: space-between;

                    img {
                        width: 20px;
                        height: auto;
                    //     // padding-right: 5px;
                    }

                    // .city {
                    //     // padding-left: 0px;
                    // }
                }
                .property{
                    width: 100%;
                    height: 60px;
                    border: 1px solid #DBDBDB;
                    border-radius: 15px;
                    line-height: 60px;
                    display: flex;
                    justify-content: space-around;
                    gap: 400px;
                    margin-top: 20px;
                    
                    img {
                        width: 20px;
                        height: auto;
                        padding-right: 15px;
                    }

                    .propertytype {
                        padding-left: 15px;
                    }

                }
                .price{
                    width: 100%;
                    height: 60px;
                    border: 1px solid #DBDBDB;
                    border-radius: 15px;
                    line-height: 60px;
                    display: flex;
                    justify-content: space-around;
                    gap: 400px;
                    margin-top: 20px;
                    
                    img {
                        width: 20px;
                        height: auto;
                        padding-right: 10px;
                    }

                    .pricerange {
                        padding-left: 10px;
                    }
                }
            }
        
            .bottom{
                margin: 25px;
                background-color: black;
                color: white;
                border-radius: 15px;
                text-align: center;
                height: 60px;
                
                line-height: 60px;
                
            }
        }
    }

    .right{
        grid-area: right;
        display: flex;
        // background-color: rgb(162, 135, 235);
        justify-content: flex-end;
        line-height: 700px;
        align-items: center;
        img{
            width: auto;
            height: 70%;
            // display: block;
            
            
        }

    }



    
}