

.container2{
    background-color: #474E5D;
    height: 350px;
    color: white;
    .top{
        padding: 90px 0 0 0;
        font-size: 25px;
        display: flex;
        justify-content: center;
    }
    .middle{
        padding: 50px 20px 0 20px;
        p{
            text-align: center;
        }
    }
    .bottom{
        display: flex;
        justify-content: center;
        padding: 15px 0 0 0;
        button{
            height: 45px;
            width: 110px;
            border-radius: 5px;
            font-size: 17px;
            border: none;
            &:hover{
                background-color: rgb(214, 213, 213);
            }
        }
    }
}