
.card {

    width: 230px;
    height: 340px;
    box-shadow: 3px 3px 5px 8px rgb(204, 204, 204);
}

.card .image {
    /* border: 1px solid red; */
    height: 150px;
    margin: 0 10px;
}

.card .image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.card .only-price {
    display: flex;
    gap: 1px;
    margin: 0 10px;



}

.card .only-price .only {
    padding: 8px 8px;
    background-color: lightgreen;
    color: purple;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px 0 0 0;
}

.card .only-price .price {
    padding: 8px 10px;
    background-color: purple;
    width: 150px;
    color: white;

    font-size: 22px;
}

.card .card-title {
    margin: 0 10px;
    padding: 10px 0;
    color: purple;
    font-size: 17px;
}

.card .fixed-price {
    margin: 5px 10px;
    color: purple;

    font-size: 18px;
    font-weight: bold;
}

.card .card-button {
    margin: 0 50px;

    background-color: purple;
    width: 100px;
    padding: 10px;
    color: white;
    font-weight: bold;
    text-align: center;
    border-radius: 20px;
    font-size: 18px;
}

.sec{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 1px solid red;
}