.calculator {
    background-color: grey;
    width: 250px;
    padding-bottom: 20px;
    border-radius: 10px;
    /* height: 300px; */
}

.calculator input {
    width: 70%;
    height: 25px;
    margin: 15px;
    border-radius: 5px;
    font-size: 20px;
}

.keys {
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    /* background-color: yellow; */
    margin: 5px auto;
    /* flex: 1; */
    justify-content: space-between;
    gap: 15px;

}

.calculator button {

    width: 40px;
    height: 40px;
    border-radius: 5px;
    box-shadow: 2px 2px;
    font-size: 20px;
    font-weight: bolder;

}
